* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

/* COMMON ELEMENTS */

button {
  border: 2pt solid #386fa4;
  color: #386fa4;
  background-color: white;
  padding: 0.5rem;
  border-radius: 10px;
}

button:disabled {
  border: 2pt solid #1b4369;
  color: #255683;
  background-color: rgb(167, 167, 167);
}

button:disabled:hover {
  border: 2pt solid #1b4369;
  color: #255683;
  background-color: rgb(167, 167, 167);
  font-weight: initial;
  cursor: not-allowed;
}

button:hover {
  border-color: #133c55;
  color: white;
  font-weight: 500;
  background-color: #386fa4;
  cursor: pointer;
}

button:focus {
  outline: none;
}
/* ---------------*/

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15vh;
  background-color: #59a5d8;
  color: white;
}

#start {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85vh;
}

#start div {
  margin: 1.5rem 0;
}

#start label {
  font-size: 1.25rem;
}

#start button {
  font-size: 2rem;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 80vh;
}

#filters {
  align-self: flex-start;
  flex-flow: row wrap;
  width: 100%;
  background-color: #91e5f6;
  display: flex;
  align-items: center;
  justify-content: center;
}

#filters input[type='search'],
select {
  margin: 0.5rem 1rem;
  padding: 0.25rem;
  font-size: 1.05rem;
  border: 1pt solid #133c55;
  background-color: white;
  border-radius: 7px;
}

#filters input[type='search']:focus,
select:focus {
  border-width: 1.5pt;
  outline: none;
}

#inputPictures,
#inputGIFS {
  margin: 1rem;
}

#picList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0.5rem;
}

.cat-pic-container {
  margin: 0.5rem;
  position: relative;
}

.cat-pic-container b {
  display: none;
}

.cat-pic-img {
  width: 250px;
  height: 200px;
}

.overlay {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #59a5d8d5;
  width: 250px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.overlay p {
  font-weight: 700;
  color: white;
}

.hidden {
  display: none !important;
}

@media screen and (max-width: 800px) {
  .cat-pic-container b {
    display: block;
    text-align: center;
    color: #3e7ca5;
  }

  #picList {
    display: flex;
    flex-direction: column;
  }

  .overlay {
    display: none !important;
  }
}
